* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div#container {
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
    max-height: 200vh;
    overflow: hidden;
    background-color: #f0f1e9;
}

div#grid{
    margin-left: 20pt;
    margin-right:20pt;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 100vh;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-areas:
    "text vis" 
    "data visIntro"
    "bot bot"
}

div#topText{
    grid-area: text;
}
div#vis{
    grid-area: vis;
    margin-top: 3vh;
}
div#title{
    margin-top: 5vh;
    font-size: 3.2vh;
}
div#data{
    grid-area:data;
    margin-top: 8vh;
    border-left: 3px solid #377375;
    padding-left: 1vw;
    padding-right: 2vw;
}

div#visIntro{
    grid-area: visIntro;
    margin-top: 8vh;
    border-left: 3px solid #377375;
    margin-left: 2vw;
    padding-left: 1vw;
    margin-right: 2vw;
    padding-right: 2vw;

}

div#reflection{
    grid-area: bot;
    border-left: 3px solid #377375;
    padding-left: 1vw;
    margin-top: 10vh;;
    margin-right: 2vw;
}

h1{
    line-height: 1.5;
}
h3{
    color:#377375;
    margin-top: 0pt;
    font-size: 3.0vh
}
p{
    line-height: 1.5;
    font-size: 2.5vh;
    font-weight: lighter;
}

div#context{
    font-style: italic;
    margin-top: 10vh;
}

figure#chart {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: relative;
}

button#spending{
    background-color:#f0f1e9;
    border: 2px solid #CE4A50;
    margin-top: 4vh;
    margin-left: 25vw;
    color:black;
    font-size: 2vh;
}

button#GDP{
    background-color: #f0f1e9;
    border: 2px solid #377375;
    margin-top: 4vh;
    margin-left: 5vw;
    color:black;
    font-size: 2vh;
}

button#spending:hover{
    background-color:#CE4A50;
    color:#f0f1e9;
}

button#GDP:hover{
    background-color:#377375;
    color:#f0f1e9;
}

a:link{
    color:#CE4A50;
    text-decoration: none;
}
a:link:hover{
    color:#94272c;
    text-decoration: none;
}

.axis text{
    fill:black;
    font-size: 1.5vh;
}

.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    background-color:#DDEFE3;
    padding: 2px;
    pointer-events: none;
}