#chart {
    background-color: #2B2E33;

}

.domain{
    stroke:#FFFFFF;
}

text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    fill: #FFFFFF;
    font-weight: normal;

}
line {
    stroke:#FFFFFF;
}

#shapes{
    fill:aqua;

}